body 
{
  font-family: 'Open Sans', sans-serif;
  background-color: #EAEAEA;
}

h1 {
  text-align: center;
  color: #FF2E63;
}

h2 {
  color: #FF2E63;
}

.navbar {
  
  text-align: center;
  padding: 10px;
  color: #FF2E63;
}

.hg {
 text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  
}